
**/*.iml
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/bin
**/build
**/build_gradle
**/node_modules
**/test-coverage
**/tmp
**/.web_bundle_build
**/.gradle
.gradle
.idea
.project
.classpath
.DS_Store
/.bnd
/bundles
/bin
/build
